[submodule "execDAT-CLI"]
	path = execDAT-CLI
	url = git@github.com:AustrianDataLAB/execDAT-CLI.git
	branch = main
[submodule "execDAT-operator"]
	path = execDAT-operator
	url = git@github.com:AustrianDataLAB/execDAT-operator.git
	branch = main
